/* CSS Document */
@charset "utf-8";
body{
    margin: 0px;
    padding: 0px;
    background-image: url(../images/background.jpg);
    background-attachment:scroll;
    background-size: cover;
}
    
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.navigation-container{
    width: 100%;
    height: 60px;
    background-color: #f9a400;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.20);
    position: fixed;
    top: 0px;
    z-index: 9999;
}
.navigation-content{
    height: 60px;
    margin: 0px 2%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display:flex;
    align-self: center;
}
nav ul li a{
    padding: 0px 30px;
    font-family: calibri;
    font-weight: bold;
    color: #FFFFFF;
    border-right:3px solid #e54c51;
}
.logo{
    height: 60px;
    display: flex;
    align-self: left;

}
.cart ul{
    display:flex;
    align-self: right;
}
.cart ul li a{
    padding: 0px 30px;
    font-family: calibri;
    font-weight: bold;
    color: #FFFFFF;
    border-right:3px solid #e54c51;
}
.promotion_1{
    height: 342x;
    width: 512px;
    color: #FFFFFF;
    font-family: calibri;
}

footer{
    color: #FFFFFF;
    font-family: calibri;
    align-self: bottom;
}

main{
    margin: 60px 15%;
    color: #FFFFFF;
    font-family: sans-serif;
    align-self: center;
}



.labelexpanded {
    margin: 50px;
    font-size:12px;
}

.labelexpanded input{
    display: none;
}
.radio-btns {
    text-align: center;
    width: 240;
    height: 120px;
    border-radius: 15px;
    position: relative;
    padding: 15px 20px;
    box-shadow: 0 1px #7c5403;
    cursor: pointer;
    background-color: #272727;
    float: left;
    margin-right: 20px;

}

.radio-btns img{
    width: 200px;
    height: 86px;
}

.labelexpanded input:checked + .radio-btns{
    background-color: #f9a400;
    color: #FFFFFF
}

.submit-btn{
    text-align: center;
}


    